# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
ipch/predykcjaciagu-bbb54ae9/predykcjaciagu-8e3c0192.ipch
PredykcjaCiagu.opensdf
PredykcjaCiagu.sdf
PredykcjaCiagu.sln
PredykcjaCiagu.suo
PredykcjaCiagu/PredykcjaCiagu.vcxproj
PredykcjaCiagu/PredykcjaCiagu.vcxproj.filters
PredykcjaCiagu/PredykcjaCiagu.vcxproj.user
PredykcjaCiagu/Debug
Debug
